{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Page Title{% endblock title %}</title>
</head>
<body>


    <div>
        {% if user.is_authenticated %}
        <a href="{% url "accounts:logout" %}">LogOut</a>/
        <a href="{% url "news:add_new" %}">Add New</a>/
        <a href="{% url "news:my_new" %}">My News</a>/
        <a href="{% url "accounts:my_profile" %}">User: {{ request.user }}</a>/

        

        {% else %}
            <a href="{% url "accounts:regester" %}">SignUp</a>/
            <a href="{% url "accounts:login" %}">SignIn</a>
        {% endif %}
        
    </div>
    <div>
        <a href="{% url "news:home" %}">All</a> /
        {% for category in category %}
            <a href="{% url "news:category" category.id %}">{{ category.name }}</a> /
        {% endfor %}
    </div>
    <div>
        
        {% for tag in tags %}
            <a href="{% url "news:tags" tag.id %}">{{ tag.name }}</a> /
        {% endfor %}
    </div>
    <div>

        <form method='GET' action="{% url "news:search" %}">
            <input type="search" placeholder="Search" aria-label="Search" name='search'>
            <button type="submit">Search</button>
          </form>
    </div>
{% block content %}



{% endblock content %}

</body>
</html>